*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Jost', sans-serif;
    
}


/* HEADER */

header{
    background-color: rgba(137, 43, 226, 0.388);
    position: fixed;
    top: 30px;
    width: 100%;
}


section{
    padding: 100px 0;
}


.title p:first-of-type{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2rem;
    color: #f53626;
}
.title h2{
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;
}

.title p:last-of-type{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.511);
    padding: 10px 0;
}
.title--center{
    text-align: center;
}
.title--center p:first-of-type{
    color: #f53626;
}
.navbar-brand h1{
    color: #189a46;
    font-size: 34px;
    font-weight: 600;
}

#capNavbar .nav-item{
    padding: 0 5px;
}
#capNavbar .nav-link{
    color: black;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: 400;
  
    position: relative;

    transition: all 0.5s;
}

#capNavbar .nav-link:hover{
    color: #189a46;
}

#capNavbar .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #189a46;
    transition: all 0.5s;
}
#capNavbar .nav-link:hover::before{
    width: 100%;
}

#capNavbar .active a{
    color: #189a46;
}

@media screen and (max-width :992px){
    header .navbar-toggler {
        background-color: #189a46;
        color: white;
        line-height: 30px;
        border-radius: 5px;
    }

    #capNavbar .nav-link::before{
        display: none;
    }

    #capNavbar .navbar-nav {
        text-align: center;
    }

    #capNavbar .nav-link {
        padding: 10px 0;
    }

}

/* Choose */

.Choose__content{
    display: flex;
    align-items: center;
}
.Choose__left{
    width: 50%;
    margin-right: 50px;
}
.Choose__left img {
    width: 100%;
    border-radius: 10px;
}

.Choose__right {
    width: 50%;
}

.Choose__right ul{
    list-style: none;
}
.Choose__right li{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: black;
    margin: 15px 0;
}

.Choose__right i {
    color: #189a46;
    font-size: 10px;
    padding: 8px;
    background-color: azure;
    border-radius: 50%;
    margin-right: 10px;
}

/* Testimoial */
.Testimonial{
    background-color: rgb(147 107 232 / 5%);
}
