* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Jost', sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
}



section {
    padding: 100px 0;
}


.title p:first-of-type {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2rem;
    color: #f53626;
}

.title h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;
}

.title p:last-of-type {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.511);
    padding: 10px 0;
}


.title--center {
    text-align: center;
}

.title--center p:first-of-type {
    color: #f53626;
}



/* HEADER */

header {
    background-color: white;
    position: fixed;
    top: 30px;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    z-index: 99;
}

.navbar .navbar-brand {
    color: #189a46;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
}

#capNavbar .nav-item {
    padding: 0 5px;
}

#capNavbar .nav-link {
    color: black;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: 400;

    position: relative;

    transition: all 0.5s;
}

#capNavbar .nav-link:hover {
    color: #189a46;
}

#capNavbar .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #189a46;
    transition: all 0.5s;
}

#capNavbar .nav-link:hover::before {
    width: 100%;
}

#capNavbar .active a {
    color: #189a46;
}

@media screen and (max-width :992px) {
    header .navbar-toggler {
        background-color: #189a46;
        color: white;
        line-height: 30px;
        border-radius: 5px;
    }

    #capNavbar .nav-link::before {
        display: none;
    }

    #capNavbar .navbar-nav {
        text-align: center;
    }

    #capNavbar .nav-link {
        padding: 10px 0;
    }

    .dark #capNavbar .nav-link:hover {
        color: #189a46;
    }

    .dark #capNavbar .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #189a46;
        transition: all 0.5s;
    }

    .dark #capNavbar .nav-link:hover::before {
        width: 100%;
    }

    .dark #capNavbar .active a {
        color: #189a46;
    }

    .light-dark {
        position: absolute;
        right: 80px;
        top: 25px;
    }



}

/* Light Theme  */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: white;
    border: none;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
    font-size: 30px;

}

/* Dark Theme  */

.dark#myBody {
    background-color: rgba(0, 0, 0, 0.8);
}

.dark #switchButton {
    background-color: black;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
    font-size: 30px;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .card {
    background-color: black;
    color: white;
}

.dark header {
    background-color: black;
}

.dark #capNavbar .nav-link {
    color: white;
}

.dark .title h2 {
    color: white;
}

.dark .title p:last-of-type {
    color: rgba(255, 255, 255, 0.504);
}

.dark .Choose__right li {
    color: #ddd;
}

.dark #capNavbar .active a {
    color: #189a46;
}

.light-dark {
    margin: 0 20px;
}

.careCarousel {
    position: relative;
    padding: 0;

}

.careCarousel__img1::before,
.careCarousel__img2::before,
.careCarousel__img3::before,
.careCarousel__img4::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #0c0c0c;
    opacity: .6;
    position: absolute;
}

.careCarousel__img1 {
    background: url(../img/carousel1.jpg);
}

.careCarousel__img2 {
    background: url(../img/carousel2.jpg);
}

.careCarousel__img3 {
    background: url(../img/carousel3.jpg);
}

.careCarousel__img4 {
    background: url(../img/carousel4.jpg);
}

.careCarousel__img1,
.careCarousel__img2,
.careCarousel__img3,
.careCarousel__img4 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 40px);
    position: relative;
}

.careCarousel__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.careCarousel__contact {
    margin-right: 30%;
}

.careCarousel__contact1 {
    margin-left: 38%;
    margin-right: 0;
}

#care .careCarousel__contact h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

#care .careCarousel__contact p {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    opacity: 0.9;
}

.careCarousel__contact a:first-of-type {
    padding: 12px 35px;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #189a46;
    background-color: #fff;
}

.careCarousel__contact a:last-of-type {
    padding: 12px 35px;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
}

.careCarousel__contact a:last-of-type:hover {
    color: #189a46;
    background-color: #fff;
}

#care .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    left: 0;
    right: 0;
    bottom: 30px;
    position: absolute;
}

@media screen and (max-width:1200px) {
    #care .careCarousel__contact {
        margin-right: 35%;
    }

    #care .careCarousel__contact1 {
        margin-left: 41%;
        margin-right: 0;
    }

    #care .careCarousel__contact h5 {
        font-size: 52px;
        line-height: 60px;

    }

    #care .careCarousel__contact p {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width:992px) {

    #care .careCarousel__contact {
        margin-right: 0;
    }

    #care .careCarousel__contact1 {
        margin-left: 0;
        margin-right: 0;
    }

    #care .careCarousel__contact h5 {
        font-size: 48px;
        line-height: 58px;

    }

    #care .careCarousel__contact p {
        font-size: 16px;
        line-height: 16px;
    }
}

@media screen and (max-width:767px) {
    #care .careCarousel__contact {
        margin-right: 0;
    }

    #care .careCarousel__contact1 {
        margin-left: 0%;
        margin-right: 0;
    }

    #care .careCarousel__contact h5 {
        font-size: 48px;
        line-height: 58px;

    }

    #care .careCarousel__contact p {
        font-size: 16px;
        line-height: 1px;
    }

    .careCarousel__img1,
    .careCarousel__img2,
    .careCarousel__img3,
    .careCarousel__img4 {
        max-height: calc(100vh - 170px);
    }
}

@media screen and (max-width:576px) {
    .careCarousel__img1,
    .careCarousel__img2,
    .careCarousel__img3,
    .careCarousel__img4 {
        max-height: calc(100vh - 250px);
    }

    #care{
        max-height: 100%;
        background-attachment: fixed;
    }
}

/* Choose */
/* * Khi sử dụng resposive theo BS4 thì k cần những code này */
/* .Choose__content{
    display: flex;
    align-items: center;
} */
/* .Choose__left{ */
/* width: 50%; */
/* margin-right: 50px; */
/* } */

/* .Choose__right {
    width: 50%;
} */
.Choose__left img {
    width: 100%;
    border-radius: 15px;
}

.Choose__right ul {
    list-style: none;
}

.Choose__right li {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: black;
    margin: 15px 0;
}

.Choose__right i {
    color: #189a46;
    font-size: 10px;
    padding: 8px;
    background-color: azure;
    border-radius: 50%;
    margin-right: 10px;
}

.Choose__content .row {
    align-items: center;
}

/* Number */

.number {
    text-align: center;
    background-color: #189a46;
    color: #fff;
    padding: 45px 0 70px 0;
    /* position: sticky; */
    /* width: 100%; */
}

.number .row {
    align-items: center;

}

.number .col {
    padding: 0;
}



.number p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.number h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}

@media screen and (max-width:992px) {
    .number p {
        font-size: 40px;
    }

    .number h4 {
        font-size: 18px
    }

}




/* Testimoial */
.Testimonial {
    background-color: rgb(147 107 232 / 5%);
}

.item .card {
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 20px;
}

/* * thêm FONT-GG mới vào mới có thể sài dấu của Before */


.card-text::before {
    content: "“";
    font-size: 50px;
    font-weight: 600;
    color: #189a46;
    line-height: 8px;
    font-family: 'Merriweather', serif;
}

.card-text::after {
    content: "''";
    font-size: 20px;
    font-weight: 600;
    line-height: 8px;

}

.item .card-text {
    font-size: 20px;
}

.card-bottom {
    display: flex;
    align-items: center;
}

.card-img {
    width: 65px;
    margin: 20px;
}

.card-img img {
    border-radius: 50%;
}

.card-city h3 {
    font-weight: 600;
}

.Testimoial__content {
    margin-top: 50px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #189a46;
    width: 30px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 40px;
}

/* Footer */


.footer__top {
    text-align: center;
    padding: 70px 0;

}

.footer__title {
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.footer__plus {
    margin-left: 40%;
    transform: translateX(-40%);
}

.footer__top p {
    font-size: 20px;
    line-height: 28px;
    color: #696969;
    margin-top: 20px;
    margin-bottom: 0;
}

.footer__topform {
    display: flex;
    justify-content: space-between;
}

form {
    margin-top: 50px;
}

.form__control {
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 10px;
    flex-basis: 70%;
    background: #fff;
    height: 60px;
    padding: 0 20px;
    transition: all .3s;
    outline: none;
}

.form__control:focus {
    border: 1px solid #189a46;
}

.footer__button {
    width: 27%;
    color: #fff;
    background-color: #189a46;
    border: 1px #189a46 solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}

.footer__button:hover {
    background-color: #116E32;
    border: 1px #116E32 solid;
}

.footer__body {
    background-color: #111111;
    color: #696969;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.footer__body h6 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer__body ul li,
.footer__body li a {
    color: #696969;
}

.footer__bodycontent a:hover {
    color: #fff;
    text-decoration: underline;
}


.footer__bodytop {
    padding: 60px 0;
    border-bottom: 1px #262525 solid;
}

.footer__bodyleft span {
    font-weight: bolder;
}

.footer__bodyleft p {
    margin-bottom: 10px;
}

.footer__icon ul {
    margin-bottom: 0;
}

.footer__icon li {
    display: inline-block;
    margin-right: 15px;

}

.footer__icon i {
    font-size: 15px;
}

.footer__item {
    padding: 0;
}

.footer__item li {
    margin-bottom: 5px;
}

.footer__bodybottom {
    text-align: center;
    padding: 25px 0;
}

.footer__bodybottom p {
    margin-bottom: 0;
}

.footer__bodybottom a {
    color: #f53626;
}

.footer__bodybottom a:hover {
    color: #f53626;
    text-decoration: underline;
}


@media screen and (max-width:992px) {

    .footer__top h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .footer__top p {
        font-size: 19px;
        line-height: 26px;
    }
}

@media screen and (max-width:767px) {
    .footer__plus {
        margin-left: 10%;
        transform: translateX(-10%);
    }

    .footer__topform {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #fTop .form-control {
        display: block;
    }

    #fTop .footer__button {
        display: block;
        width: 150px;
        margin-left: 50%;
        transform: translateX(-50%);
        height: 55px;
        color: #fff;
        background-color: #189a46;
        border: 1px #189a46 solid;
        border-radius: 10px;
        cursor: pointer;
        transition: all .5s;
    }

    #fTop .footer__button:hover {
        background-color: #116E32;
        border: 1px #116E32 solid;
    }

    .footer__row{
        padding-top: 30px;
        padding-left: 20px;
    }

}

@media screen and (max-width:600px) {
    #fTop .footer__button {
        width: 100%;
    }
}






.BackToTop {
    position: fixed;
    bottom: 90px;
    right: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #189a46;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    transform: translateY(0);
    transition: all 0.5s;

    visibility: hidden;
    opacity: 0;
}


.BackToTop:hover {
    transform: translateY(-10px);
    text-decoration: none;
    color: white;
}